name: Build and publish

on:
  workflow_dispatch: {}
  push:
    branches:
      - main
    paths:
      - packages/**

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Build all
        run: pnpm build

      - name: Publish
        run: pnpm publish:ci
